* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat",
        sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: #ECDCD0;
    color: #482F04;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: #caac9d;
    padding: 12px 20px;
}

.logo img {
    width: 50px;
}

.menu {
    display: flex;
}

.menu li {
    padding-left: 30px;
}

.menu li a {
    display: inline-block;
    text-decoration: none;
    color: #482F04;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #482F04;
    transition: 0.15s ease-in-out;
}

.menu li a:hover::after {
    width: 100%;
}

.open-menu,
.close-menu {
    position: absolute;
    color: #482F04;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 30px;
    right: 20px;
    translate: translateY(-50%);
}

.close-menu {
    top: 30px;
    right: 20px;
}

#check {
    display: none;
}

@media(max-width: 610px) {
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #caac9d;
        transition: all 0.2s ease-in-out;
        font-size: large;
    }

    .menu li {
        margin-top: 40px;
    }

    .menu li a {
        padding: 30px;
    }

    .open-menu,
    .close-menu {
        display: block;
    }

    #check:checked~.menu {
        right: 0;

    }
}

.top {
    text-align: center;
    padding: 100px 20px;
}

main {
    text-align: left;
    padding: 10px 20px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: xx-large;
}

.intro-image {
    width: 100%;
    padding: 20px;
}

@media (max-width: 200px) {
    h1 {
        font-size: 7.5rem;
    }

    h2 {
        font-size: 5.5rem;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 2.0rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}