* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ECDCD0;
    color: #482F04;
    padding: 0;
    height: 100%;
    margin: 0px;
    overflow: hidden;
    display: flex;
}

header {
    background-color: #67250243;
    color: #FFFFFF;
    padding: 0px;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: max-content;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    position: relative;
    padding: 12px 20px;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu li {
    padding-left: 30px;
}

.menu li a {
    display: inline-block;
    text-align: center;
    transition: 0.15s ease-in-out;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

header img {
    width: 100%;
    height: 80px;
    display: block;
    object-fit: cover;
    object-position: center;
    padding: 5%;
}

.logo {
    width: auto;
    height: auto;
}