* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat",
        sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: #ECDCD0;
    color: #482F04;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: rgb(201, 150, 124);
    padding: 12px 20px;
}

.nav-bar .logo img {
    width: 40px;
}

.menu {
    display: flex;
}

.menu li {
    padding-left: 30px;
    ;
}

.menu li a {
    display: inline-block;
    text-decoration: none;
    color: #482F04;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #482F04;
    transition: 0.15s ease-in-out;
}

.menu li a::after:hover {
    width: 100%;
}

.open-menu.close-menu {
    position: absolute;
    color: #482F04;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

/* Desktop */
.nav-bar {
    display: flex;
}

/* Phone / small */
@media (min-width: 768px) {
    .nav-bar {
        display: none;
        /* hide menu items */
        flex-direction: column;
    }
}

.menu {
    display: block;
    /* show hamburger */
}