html,
body {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-wrapper {
    flex: 1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #ECDCD0;
    color: #482F04;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #caac9d;
    padding: 12px 20px;
    list-style: none;
}

.logo img {
    height: 50px;
    width: auto;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    padding-left: 30px;
}

.menu li a {
    display: inline-block;
    text-decoration: none;
    color: #482F04;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
}

.menu li a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #482F04;
    transition: 0.15s ease-in-out;
}

.menu li a:hover::after {
    width: 100%;
}

.open-menu,
.close-menu {
    position: absolute;
    color: #482F04;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 30px;
    right: 20px;
    translate: translateY(-50%);
}

.close-menu {
    top: 30px;
    right: 20px;
}

#check {
    display: none;
}

@media(max-width: 610px) {
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #caac9d;
        transition: all 0.2s ease-in-out;
        font-size: large;
    }

    .menu li {
        margin-top: 40px;
    }

    .menu li a {
        padding: 30px;
    }

    .open-menu,
    .close-menu {
        display: block;
    }

    #check:checked~.menu {
        right: 0;
    }
}

.top {
    text-align: center;
    padding: 100px 20px;
}

main {
    text-align: left;
    padding: 10px 10px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: xx-large;
    overflow: auto;
}

.intro-image {
    width: 100%;
    padding: 10px;
    height: auto;
    margin-bottom: 0%;
    margin-top: 0%;
}

@media (max-width: 610px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.0rem;
        color: #097CA7;
        font-weight: lighter;
    }
}

hr {
    border: none;
    height: 1px;
    background-color: #482F04;
    margin: 5px 0;
}

.about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #ECDCD0;
}

.about-text {
    max-width: 60%;
    /* keeps text on the left */
}

.about-text h3 {
    margin: 0 0 10px 0;
    font-size: 1.8rem;
    color: #4a341c;
    font-family: "Playfair Display", serif;
    font-weight: lighter;
}

.about-text p {
    font-size: 1.0rem;
    line-height: 1.5;
    color: #4a341c;
    margin: 0 0 20px 10px;
}

/* Button styling */
.cta-btn {
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    color: #ECDCD0;
    background-color: #777B1B;
    border-radius: 1px;
    transition: transform 0.2s ease;
}

.cta-btn:hover {
    transform: translateY(-4px);
}

/* Responsive (stack on mobile) */
@media (max-width: 610px) {
    .about-section {
        flex-direction: column;
        text-align: center;
        font-size: smaller;
    }

    .about-text {
        max-width: 100%;
    }

    .about-text h3 {
        font-size: x-large;
        font-weight: lighter;
        font-style: normal;
    }

    .about-text p {
        font-size: small;
    }
}

.project-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #e6d6ca;
}

.project-text {
    max-width: 60%;
    /* keeps text on the left */
}

.project-text h4 {
    margin: 0 0 10px 0;
    font-size: 1.8rem;
    color: #4a341c;
    font-family: "Playfair Display", serif;
    font-weight: lighter;
}

.project-text p {
    font-size: 1.0rem;
    line-height: 1.5;
    color: #4a341c;
    margin: 0 0 20px 10px;
}

.cta-btn1 {
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    color: #ECDCD0;
    background-color: #777B1B;
    border-radius: 1px;
    transition: transform 0.2s ease;
}

.cta-btn1:hover {
    transform: translateY(-4px);
}

@media (max-width: 610px) {
    .project-section {
        flex-direction: column;
        text-align: center;
        font-size: smaller;
    }

    .project-text {
        max-width: 100%;
    }

    .project-text h4 {
        font-size: x-large;
        font-weight: lighter;
        font-style: normal;
    }

    .project-text p {
        font-size: small;
    }
}

@media (min-width:611px) and (max-width: 4000px) {
    h1 {
        font-size: 4.5rem;
    }

    h2 {
        font-size: 3.5rem;
        color: #097CA7;
        font-weight: lighter;
    }

    .intro-image {
        transform: scale(0.80);
    }
}

@media (min-width:611px) and (max-width: 2000px) {
    h3 {
        font-size: 3.0rem;
        margin-top: 30px;
        margin-bottom: 30px;
        padding-left: 10px;
    }

    h4 {
        font-size: 3.0rem;
        margin-top: 30px;
        margin-bottom: 30px;
        padding-left: 10px;
    }
}

.footer {
    background-color: #c8a99a;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3a2c1e;
    font-size: 0.95rem;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-left {
    margin: 0;
}

.footer-right {
    text-align: right;
    line-height: 1.4;
}

@media (max-width: 600px) {
    .footer-left {
        text-align: left;
        font-size: 0.8rem;
    }

    .footer-right {
        text-align: right;
        font-size: 0.8rem;
    }
}

@media (min-width:611px) and (max-width: 2000px) {
    .footer-left {
        text-align: left;
        font-size: 0.8rem;
    }

    .footer-right {
        text-align: right;
        font-size: 0.8rem;
        margin-right: 0rem;
    }
}

.aboutme-layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 10px 10px;
    max-width: fit-content;
    margin: auto;
}

.aboutme-text {
    flex: 1;
    max-width: 600px;
    font-size: 1rem;
    line-height: 1.6;
    padding-top: 20px;
    padding-bottom: 20px;
}

.aboutme-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    padding-bottom: 20px;
}

.aboutme-image img {
    width: 100%;
    max-width: 420px;
    height: auto;
    border-radius: 4px;
}

@media (max-width: 610px) {
    .aboutme-layout {
        flex-direction: column;
    }

    .aboutme-image {
        order: 1;
        justify-content: center;
        margin-bottom: 5px;
    }

    .aboutme-text {
        order: 2;
        text-align: left;
        font-size: medium;
    }

    .aboutme-image img {
        max-width: 200px;
        width: 100%;
    }
}

@media (min-width: 611px) {
    .aboutme-text {
        font-size: 1.5rem;
    }

    .aboutme-image {
        max-width: 600px;
        width: 100%;
    }

    .aboutme-text {
        text-align: left;
        max-width: fit-content;
        padding-left: 10px;
    }
}

.programs-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
    width: 100%;
}

@media (max-width: 610px) {
    .programs-image {
        max-width: 200px;
    }

    .programs-section h3 {
        font-size: auto;
        margin-bottom: 20px;
    }
}

@media (min-width: 611px) {
    .programs-section h3 {
        font-size: 1.5rem;
    }

    .programs-image {
        max-width: 300px;
    }
}

.projects-layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 10px 10px;
    max-width: fit-content;
    margin: auto;
}

.projects-text {
    flex: 1;
    font-size: 1rem;
    line-height: 1.6;
}

.projects-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.projects-image img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 4px;
}

@media (max-width: 610px) {
    .projects-layout {
        flex-direction: column;
    }

    .projects-image {
        order: 1;
        justify-content: center;
        margin-bottom: 5px;
    }

    .projects-text {
        order: 2;
        text-align: center;
        font-size: 0.9rem;
    }

    .projects-image img {
        max-width: 200px;
        width: 100%;
    }

    .projectsheader {
        align-items: center;
    }

    h4 {
        text-align: center;
        font-weight: normal;
        font-size: 1.0rem;
    }
}

@media (min-width: 611px) {
    .projects-text {
        font-size: 1.5rem;
    }

    .projects-image {
        width: 100%;
    }

    .projects-text {
        text-align: left;
        max-width: 100%;
        padding-left: 10px;
    }

    h4 {
        text-align: left;
        font-weight: normal;
        font-size: 2.5rem;
    }
}